.quitDialog,
.upgradeDialog,
.migrationDialog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.modalActions {
  display: flex;
  justify-content: center;
  padding: var(--space-lg) 0;
  gap: var(--space-lg);
}

.modalActions button {
  flex: 1;
}

@media screen and (max-width: 479px) {
  .error {
    margin: var(--space-sm) 0;
  }
}
