.button {
  border: none;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.primary {
  background-color: var(--color-primary);
  color: white;
}

.primary:hover:not(:disabled) {
  background-color: var(--color-primary-dark);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.secondary:hover:not(:disabled) {
  background-color: var(--color-secondary-dark);
}

.quit {
  background-color: var(--color-quit);
  color: white;
}

.text {
  background-color: transparent;
  color: var(--color-primary);
  padding: 0;
}

.text:hover:not(:disabled) {
  color: var(--color-primary-dark);
}

.small {
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-size-small);
}

.medium {
  padding: var(--space-md) var(--space-md);
  font-size: var(--font-size-body);
}

.large {
  padding: var(--space-md) var(--space-lg);
  font-size: var(--font-size-h3);
}

.button:disabled {
  /* opacity: 0.6; */
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.loading {
  position: relative;
  color: transparent;
}

.spinner {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
