.quiz {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  max-width: 900px;
  margin: 0 auto;
  padding: var(--space-md) 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  width: 100%;
  height: 4px;
  background-color: var(--color-border);
  border-radius: 2px;
  margin: var(--space-md) 0;
}

.progressBar {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 2px;
  transition: width 0.3s ease;
}

.question {
  text-align: center;
  margin: var(--space-md) 0 0 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-lg) 0;
}

.option {
  margin: 0 auto;
  width: 90%;
  padding: var(--space-lg) var(--space-md);
  text-align: left;
  font-size: var(--font-size-h3);
  transition: all 0.2s ease;
  border: 2px solid transparent;
}

.option.selected {
  border: 2px solid var(--color-primary) !important;
}

.option.correct {
  background-color: var(--color-correct-light) !important;
}

.option.incorrect {
  background-color: rgba(181, 0, 0, 0.1) !important;
  border-color: var(--color-quit) !important;
}

.option.wrong {
  background-color: rgba(181, 0, 0, 0.1) !important;
  border-color: transparent !important;
}

.feedback {
  text-align: center;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: var(--space-lg) 0;
  margin-top: var(--space-sm);
}

.quitButton {
  background-color: white;
  color: black;
  border: 3px solid var(--color-primary);
}

.quitButton:hover:not(:disabled) {
  background-color: var(--color-quit);
  transform: translateY(-2px);
  will-change: transform;
  color: white;
  border: 3px solid transparent;
}

.error {
  color: var(--color-error);
  text-align: center;
  margin-bottom: var(--space-md);
}
.modalActions {
  display: flex;
  justify-content: center;
  padding: var(--space-lg) 0;
  gap: var(--space-lg);
}
.modalActions button {
  flex: 1;
}

@media screen and (max-width: 479px) {
  .progress {
    margin: var(--space-sm) 0;
  }
  .question {
    margin: var(--space-md) 0;
  }
  .options {
    gap: var(--space-md);
    padding: var(--space-sm) 0;
  }
  .option {
    width: 100%;
    font-size: var(--font-size-h4);
    padding: var(--space-xl) var(--space-lg);
  }
  .feedback {
    margin: var(--space-md) auto;
  }

  .error {
    margin: var(--space-sm) 0;
  }
}
