.playerSetup {
  display: flex;
  margin: 0 auto;
  padding: var(--space-xl) var(--space-md);
}

.backButtonContainer {
  display: flex;
  align-items: flex-start;
  gap: 0;
}

.backButton {
  width: fit-content;
  background-color: transparent;
  font-size: var(--font-size-h3);
  align-self: flex-start;
  padding: 0;
}
.backButton:hover {
  background-color: transparent !important;
  color: var(--color-text) !important;
  text-decoration: underline;
  transform: translateY(0) !important;
}

@media screen and (max-width: 479px) {
  .playerSetup {
    padding: var(--space-lg) var(--space-md);
  }

  .backButton {
    top: var(--space-lg);
  }
}
@media screen and (max-width: 767px) {
  .playerSetup {
    flex-direction: column;
  }
  .backButtonContainer {
    padding: var(--space-md) 0;
  }
}
