.playerSetup {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin: 0 auto;
  padding: var(--space-xl) var(--space-md);
}

.backButtonContainer {
  display: flex;
  align-items: center;
  gap: 0;
}

.backButton {
  width: fit-content;
  background-color: transparent;
  font-size: var(--font-size-h3);
}
.backButton:hover {
  background-color: transparent !important;
  color: var(--color-text) !important;
  text-decoration: underline;
  transform: translateY(0) !important;
}

@media screen and (max-width: 479px) {
  .playerSetup {
    padding: var(--space-lg) var(--space-md);
  }

  .backButton {
    top: var(--space-lg);
  }
}
