.playerManagement {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: var(--space-lg);
  align-items: center;
}
.playerSetup {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: var(--space-lg);
  align-items: center;
  border: 5px solid var(--color-border);
}

.title {
  text-align: center;
  margin-bottom: var(--space-md);
}

.playerList {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}

.playerInput {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm);
  width: 100%;
}

.playerInput > :first-child {
  flex: 1;
  min-width: 200px;
}

.removeButton {
  flex-shrink: 0;
  background-color: var(--color-quit);
  color: white;
}

.removeButton:hover,
.removeButton:focus,
.removeButton:active {
  background-color: var(--color-quit) !important;
}

.playerInput input {
  padding: var(--space-md);
  width: 100%;
}

.error {
  color: var(--color-error);
  text-align: center;
}

.actions {
  gap: var(--space-md);
  margin-top: var(--space-md);
  align-self: center;
}

.startButton {
  width: 100%;
  max-width: 300px;
  height: 75px;
  font-size: var(--font-size-h3);
  align-items: right;
}
.startButton:hover {
  transform: translateY(0) !important;
}

.arrowIcon {
  transition: transform 0.2s ease-in-out;
}

.startButton:hover .arrowIcon {
  transform: translateX(8px);
}

@media screen and (max-width: 479px) {
  .playerInput {
    padding: var(--space-xxs);
  }
  .playerInput > :first-child {
    min-width: 120px !important;
  }

  .actions {
    flex-direction: column;
  }
  .removeButton {
    width: 45px;
    height: 45px;
  }
}
